
 {{!-- add stylesheets unique to this page --}}
{{#*inline "head-block"}}
    <link rel="stylesheet" href="./public/assets/styles/pages/register.css">
{{/inline}}


<h1>Hiiiiii  {{title}}</h1>

<p> {{vendorInfo.Vendor.dataValues.fullName}}</p>

<ul>
       
        <p>id : {{vendorInfo.dataValues.id}}</p>
        <p>firstName: {{vendorInfo.dataValues.firstName}}</p>
        <p>lastName : {{vendorInfo.dataValues.lastName}}</p>
        <p>fullName :{{vendorInfo.dataValues.fullName}}</p>
        <p>vendorType : {{vendorInfo.dataValues.vendorType}}</p>
        <p>description : {{vendorInfo.dataValues.description}}</p>
        <p>email : {{vendorInfo.dataValues.email}}</p>
        <p>State : {{vendorInfo.dataValues.State}}</p>
        <p>City : {{vendorInfo.dataValues.City}}</p>
        <p>zip : {{vendorInfo.dataValues.zip}}</p>
        <p>password : {{vendorInfo.dataValues.password}}</p>
</ul>


{{!-- add scripts unique to this page --}}
{{#*inline "scripts-block"}}
   <script src="./public/assets/js/register.js"></script>
{{/inline}}