
 {{!-- add stylesheets unique to this page --}}
{{#*inline "head-block"}}
    <link rel="stylesheet" href="/public/assets/styles/pages/register.css">
{{/inline}}


{{!-- <h1> {{title}}</h1> --}}

<p> {{vendorInfo.Vendor.dataValues.fullName}}</p>
<div>
    <img src=""> 
</div>
<ul>
       
        {{!-- <p>id : {{vendorInfo.dataValues.id}}</p> --}}
        <h1 class= "name">{{vendorInfo.dataValues.firstName}} {{vendorInfo.dataValues.lastName}}</h1>
        <p>{{vendorInfo.dataValues.vendorName}}</p>
        <h6>Here for brides looking for a <strong>{{vendorInfo.dataValues.vendorType}}</strong></h6>
        <p class="description">{{vendorInfo.dataValues.description}}</p>
        <br>
        <h7>{{vendorInfo.dataValues.fullName}},</h7>
        <a href="vendorInfo.dataValues.email">{{vendorInfo.dataValues.email}}</a>
        <p class="address"> {{vendorInfo.dataValues.State}}, {{vendorInfo.dataValues.City}} {{vendorInfo.dataValues.zip}}</p>
 
        {{!-- <p>password : {{vendorInfo.dataValues.password}}</p> --}}
</ul>



{{!-- add scripts unique to this page --}}
{{#*inline "scripts-block"}}
  <script type="text/javascript" src="/assets/js/upload.js"></script>
   <script src="/assets/js/register.js"></script>
{{/inline}}

